
.red-notification {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: red;
    padding: 14px;
    font-weight: bold;
    width: 100%;
    font-size: 14px;
}

.green-notification{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(39, 223, 39);
    padding: 14px;
    font-weight: bold;
    width: 100%;
    font-size: 20px;
}

.green-notification span, .red-notification span {
    margin: 0 10px;
}

@media only screen and (min-width: 550px) {
    .red-notification{
        font-size: 20px;
    }
}

@media only screen and (min-width: 768px){

.red-notification{
    height: 60px;
    width: 100%;
    font-size: 30px;
}
.green-notification {
    height: 60px;
    width: 100%;
    font-size: 40px;
    padding: 10px 0 10px 154px;
}
}

@media only screen and (min-width: 1030px) {
    .red-notification {
        font-size: 40px;
        padding: 10px 0 ;
    }
}