.alarmOk span {
    color: black;
    background-color: #25CD4A;
    padding:3px;
    border-radius: 4px;
    border: solid 1px black;
}

.alarmActive span {
    color: black;
    background-color: #fc0505;
    padding:3px;
    border-radius: 4px;
    border: solid 1px black;
}

.alarmActive p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.alarmOk p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.devices {
    text-align: left;
}