@media screen and (max-width: 800px) {

.logoContainer
{
    display: block;
    margin-top: -50px;
}

.logo {
    display: block;
    max-width: 85%;
    max-height: 90%;
    margin: 30 auto;
    margin-top: -20px;
}

.home_txt {
    text-align: center;
    font-size: 10vw;
}

.climate_txt {
    text-align: center;
    font-size: 28pvw;
    margin-top: 20px;

}
}

/* Desktop View */

@media screen and (min-width: 768px)
{
    .logoContainer {
        display: block;
        margin-top: -48px;
    }

    .start {
    margin: 50px;
    text-align: center;
    }

    .logo {
    display: block;
    max-width: 50%;
    max-height: 50%;
    margin-top: 50px;
    margin-left: 600px;
    padding: 10px;
    }

    .home_txt {
        text-align: center;
        margin-left: 250px;
        font-size: 4vw;
    }

    .climate_txt {
        text-align: center;
        margin-left: 250px;
        font-size: 3vw;
    }
}