.home_wrapper {
    max-width: 768px;
    margin-top: 40px;
}

.home_logo {
    display: block;
    max-width: 75%;
    max-height: 75%;
    margin: auto;
    margin-bottom: 40px;
}

.home_txt {
    text-align: center;
    font-size: 25px;
    margin-bottom: 60px;
}

.climate_txt {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

/* Desktop View */

@media screen and (min-width: 768px) {

    .home_wrapper {
        margin-top: 0;
        margin-left: 180px;
        max-width: 1600px;
    }

    .home_txt {
        text-align: center;
        font-size: 30px;
    }

    .climate_txt {
        text-align: center;
        font-size: 30px;
    }

    .home_logo {
        display: block;
        max-width: 500px;
        max-height: 200px;
        margin: 40px auto;
        margin-bottom: 40px;
    }
}