.climate {
    text-align: center;
    margin: auto;
    max-width: 800px;
    
}

.rooms{
    text-align: center;
    margin-bottom: 100px;
}

.rednotis {
    background-color: red;
    padding: 7px;
    font-weight: bold;
}

.greennotis {
    background-color: rgb(39, 223, 39);
    padding: 7px;
    font-weight: bold;
    min-width: 300px;
}

.filter {
    font-size: 60px;
    text-align: right;
   
}

/* .filter {
    position: right;
    display: inline-flex;
    margin-right: -300px;
} */

@media only screen and (min-width: 768px)
{
    .climate {
        margin-top: 40px;
            margin-left: 180px;
            max-width: 1600px;
    }
    
    .rooms{
        text-align: center;
    }
    
    .climate-name {
        margin-left: 230px;
        padding: 10px;
    }

    .rednotis {
        text-align: center;
        background-color: red;
        height: 60px;
        width: 100%;
        
        
    }

    .greennotis {
        
       text-align: center;
        justify-items:center;
        background-color: rgb(39, 223, 39);
        height: 60px;
        width: 100% !important;
        min-width: 1000px;
    }
    .filter {
        font-size: 60px;
        text-align: right;
        min-width: 800px;
    }
}
