@media screen and (max-width: 800px) {

.navbar {
    background: gainsboro;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
} 

 .navbar-item{
    color: black;
    font-size: 25px;
    user-select: none;
    cursor: pointer;
} 

.nav-item a {
    text-decoration: none;
    font-size: 25px;
    transition: 0.2s all ease-out;
    border-radius: 5px;
}

.nav-item a:hover {
    background: tomato;
}

.sidebar active {
    left: 0;
}

.sidebar {
    visibility: hidden;
}

}

/* Desktop View */

@media screen and (min-width: 768px) {
    body {
        background-color: white;
    } 

    .navbar {
        display: none !important;
    } 
    
     .navbar-item{
     display: none !important; 
    } 

    .sidebar-toggle {
        height: 100%;
        width: 40vw;
        display:flex;
        justify-content: flex-end;
    }

    .sidebar-toggle-logo {
        color: black;
        font-size: 2.3rem;
        cursor: pointer;
    }

    .sidebar {
        height: 100%;
        width: 16rem;
        position: fixed;
        background-color: gainsboro;
        transition: 0.3s all ease-in-out;
    }

    .sidebar-items {
        font-size: 1.2rem;
        display: block;
        flex-direction: column;
        transition: 0.2s all ease-out;
    }

    .sidebar-item {
        list-style: none;
        margin-top: 1rem;
        width:100%;
        height: 3rem;
    }

    .sidebar-item a{
        text-decoration: none;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        color: black;
        cursor: pointer;
        width: 100%;
        margin-top: 1rem;
        height: 100%;
        border-radius: 5px;
        justify-content: center;
        transition: 0.2s all ease-out;
    } 

    .sidebar-item a:hover {
        background: rgb(228, 63, 63);
    }
}

