.room-card{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #9B9999;
    border: solid 3px #000000;
    border-radius: 6px;
    line-height: 18px;
    overflow: hidden;
    padding: 10px;
    margin-block-end: 20px;
    margin-block-start: 20px;
}

.room-card{
    font-size: large;
}