.room {
    text-align: left;
}

.room-card-ok {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #9B9999;
    border: solid 3px #000000;
    border-radius: 5px;
    line-height: 18px;
    overflow: hidden;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: large;
    align-items: center;
    min-height: 110;
    min-width: 280;
}

.room-card-alarm {
    overflow: hidden;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #9B9999;
    border: solid 3px #000000;
    border-radius: 5px;
    line-height: 18px;
    font-size: large;
    border-color: red;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    min-height: 110;
    min-width: 280;
}

.room-card-alarm img {
    width: auto !important;
    height: 100% !important;
}

.alarmDiv button {
    font-weight: 600;
    font-size: 14px;
    padding: 2px;
    background: #FFFCFC;
    border: 1px solid #000000;
    border-radius: 5px;
}
.alarmDiv button:hover {
    cursor: pointer;
    box-shadow: 0 3px 6px #888888;
    transition: 0.2s all ease-out;
    transform: scale(110%);
}

.alarmDiv button:focus {
    transform: scale(0%);
    transition: 0.3s all ease-out;
}

.alarmDiv {
    align-self: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

@media only screen and (min-width: 768px) {
        .room {
            width: 60%;
            margin: 20px;
            font-size: 20px;
        }

        .room-card-ok {
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            background-color: #9B9999;
            border: solid 3px #000000;
            border-radius: 5px;
            line-height: 18px;
            overflow: hidden;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 15px;
            font-size: 20px;
            display: flex;
            min-height: 200;
            min-width: 330; 
            justify-content: space-around;
        }
    
        .room-card-alarm {
            overflow: hidden;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            background-color: #9B9999;
            border: solid 3px #000000;
            border-radius: 5px;
            line-height: 18px;
            font-size: 20px;
            border-color: red;
            margin-top: 5px;
            margin-bottom: 15px;
            padding: 10px;
            min-height: 200;
            min-width: 330;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: center;
            align-content: space-around;
        }
    
        .room-card-alarm img {
            width: auto !important;
            height: 100% !important;
        }
    
        .alarmDiv button {
            font-weight: 600;
            font-size: 16px;
            padding: 4px;
            background: #FFFCFC;
            border: 1px solid #000000;
            border-radius: 5px;
        }
    
        .alarmDiv {
            align-self: auto;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
        }
    
}

@media only screen and (min-width: 1020px) {
    .room {
        width: 45%;
        margin: 20px;
        font-size: 20px;
    }
}